<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\100390232\Source\Repos\NETD3202-Lab3Base-2021\WorkerDatabase.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>